@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,700&family=Roboto+Slab:wght@400;500;700;800&family=Roboto:wght@400;500;700&display=swap");

/* font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 82%;
  margin: auto;
  padding: 10px 0px 0px;
}

#logo {
  margin-top: 10px;
}

.info {
  margin-top: 93px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  font-family: "Roboto", sans-serif;
}

.inf {
  min-height: 26px;
  gap: 8px;
  display: flex;
  align-items: flex-end;
}

.inf1{
  margin-left: 3vw;
}

.icon{
  align-self: flex-start;
}

.txt{
  padding-bottom:0px;
  font-weight: 400;
  align-self: flex-end;
}

.info,
.text2,
.author {
  font-family: "Roboto";
}

h1,
.text3 {
  font-family: "Roboto Slab", serif;
}

.mid {
  width: 100%;
  margin-top: 14px;   
  display: flex;
  flex-direction: row;
  gap: 140px;
}


.left{
  width: 60vw;
}

.right{
  width: 40vw;
}

h1 {
  flex-wrap:wrap;
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  margin-top: 26px;
  line-height: 101%;
  font-family: "Roboto Slab", serif;
}

.text2 {
  margin-top: 16px;
  width: 414px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.bottom {
  width: 483px;
  height: 200px;
  border-radius: 5px;
  background: #1e4681;
  color: white;
  margin: 70px auto 20px;
  padding: 18px 26px 20px 30px ;
}

.text3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 130%;
}

.author {
  margin-top: 5px;
  font-size: 20px;
  text-align: end;
  font-weight: 400;
}
